<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/navbar.css">
	<title>Review</title>
</head>

<%- include('./partials/header.ejs') %>

	<body>
		<div class="my-5 container">
			<% if (!reorder) { %>
			<h1>Order Has Been Placed</h1>
			<% } %>
			<% if (reorder) { %>
				<h1>Reviewing Order Placed On <%= "".concat(reorder.date.getMonth() + 1,'/', + reorder.date.getDate() + 1) %></h1>
			<% } %>	
			<table class="table table-striped table-hover">
				<thead>
					<tr class="text-left">
						<th scope="col">Product</th>
						<th scope="col"></th>
						<th scope="col">Quantity</th>
						<th scope="col">Unit Price</th>
						<th scope="col">Total Price</th>
					</tr>
				</thead>
				<tbody>
					<% cart.cartItems().forEach( function(item) { %>
						<tr>
							<td class="align-middle">
								<img class="img-thumbnail" src="/images/<%=item.item.series%>.jpg" alt="<%=item.item.series%>.jpg" style="width: 100px; height: 100px;">
							</td>
							<td class="align-middle">
								<p>
									<strong>
										<%= item.item.title %>
									</strong>
									<br>
									<%= item.item.model %>
								</p>
							</td>
							<td class="align-middle">
								<%= item.quantity %>
							</td>
							<td class="align-middle">
								$<%= item.item.pricing.retail %> ea.
							</td>
							<td class="align-middle">
								$<%= item.price %>
							</td>
						</tr>
						<% }); %>
				</tbody>
			</table>
			<div class="row">
				<div class="col-6">
					<h4>Order Summary</h4>
					<table class="table table-sm">
						<tr>
							<td>Subtotal</td>
							<td>$<%= cart.getPrice().toFixed(2) %></td>
						</tr>
						<tr>
							<td>Shipping</td>
							<td>$<%= (cart.getPrice() * parseFloat(cart.shipping.method)).toFixed(2) %></td>
						</tr>
						<tr>
							<td>Sales Tax</td>
							<td>$<%= (cart.getPrice() * 0.0875).toFixed(2) %></td>
						</tr>
						<tr class="table-secondary">
							<td>Total</td>
							<td>$<%= cart.total.toFixed(2) %></td>
						</tr>
					</table>
				</div>
				<div class="col-6">
					<h4>Shipping Information</h4>
					<table class="table table-sm text-left">
						<tr>
							<th scope="row">Shipped To:</th>
							<td><%= cart.shipping.first %> <%= cart.shipping.last %></td>		
						</tr>
						<tr>
							<th rowspan="2" scope="row">Address:</th>
							<td><%= cart.shipping.address %></td>		
						</tr>
						<tr>
							<td><%= cart.shipping.city %>, <%= cart.shipping.state %> <%= cart.shipping.zip %></td>		
						</tr>
						<tr>
							<th scope="row">Shipping Method:</th>
							<% if (cart.shipping.method == '0.15') { %>
								<td>Standard Shipping (10-15 business days)</td>		
							<% } else if (cart.shipping.method == '0.25') { %>
								<td>Expedited Shipping (5-7 business days)</td>		
							<% } else if (cart.shipping.method == '0.35') { %>
								<td>Priority Shipping (3-5 business days)</td>		
							<% } %>
						</tr>	
						<% if (reorder) { %>
						<tr>
							<th scope="row">Ordered On:</th>
							<td><%= reorder.date %></td>		
						</tr>
						<% } %>
					</table>
					<% if (reorder && !admin) { %>
						<a class="btn btn-primary btn-large my-3" href="/api/orders/reorder/<%= reorder.id %>">Reorder these items</a> 
					<% } %>
				</div>
			</div>
		</div>
	</body>

	<%- include('./partials/footer.ejs') %>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		 crossorigin="anonymous"></script>

</html>