<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="stylesheets/navbar.css">
	<title>Review</title>
</head>

<%- include('./partials/header.ejs') %>

	<body>
		<div class="container">
			<% if (!reorder) { %>
			<h1>Order Has Been Placed</h1>
			<% } %>
			<% if (reorder) { %>
				<h1>Order Review</h1>
			<% } %>	
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th scope="col">Product</th>
						<th scope="col"></th>
						<th scope="col">Quantity</th>
						<th scope="col">Unit Price</th>
						<th scope="col">Total Price</th>
					</tr>
				</thead>
				<tbody>
					<% cart.cartItems().forEach( function(item) { %>
						<tr>
							<td class="align-middle">
								<img class="img-thumbnail" src="/images/<%=item.item.series%>.jpg" alt="<%=item.item.series%>.jpg" style="width: 100px; height: 100px;">
							</td>
							<td class="align-middle">
								<p>
									<strong>
										<%= item.item.title %>
									</strong>
									<br>
									<%= item.item.model %>
								</p>
							</td>
							<td class="align-middle">
								<%= item.quantity %>
							</td>
							<td class="align-middle">
								$<%= item.item.pricing.retail %> ea.
							</td>
							<td class="align-middle">
								$<%= item.price %>
							</td>
						</tr>
						<% }); %>
				</tbody>
			</table>
			<div class="row">
				<div class="col-6">
					<% if (reorder) { %>
						<a class="btn btn-primary btn-large" href="/api/orders/reorder/<%= reorder.id %>">Reorder these items</a> 
					<% } %>
				</div>
				<div class="col-6">
					<table class="table table-sm">
						<tr class="table-secondary">
							<th colspan="2">Order Summary</th>
						</tr>
						<tr>
							<td>Subtotal</td>
							<td>$<%= cart.price %></td>
						</tr>
						<tr>
							<td>Estimated Shipping</td>
							<td>$<%= (cart.price * 0.15).toFixed(2) %></td>
						</tr>
						<tr>
							<td>Sales Tax</td>
							<td>$<%= (cart.price * 0.0875).toFixed(2) %></td>
						</tr>
						<tr class="table-secondary">
							<td>Total</td>
							<td>$<%= (cart.price * 1.2375).toFixed(2) %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>

	<%- include('./partials/footer.ejs') %>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		 crossorigin="anonymous"></script>

</html>