<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/navbar.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <title>Shopping Cart</title>
</head>

<%- include('./partials/header.ejs') %>

  <body>
    <% if (message.success) { %>
      <div class="alert alert-success" role="alert">
        <%= message.success %>
      </div>
      <% } %>

        <div ng-app="cart" class="mt-5 mb-3 container">
          <cart> </cart>
        </div>
        <!-- <% if (products != null) { %>
          <%= totalPrice %>
            <a href="/simplecheckout" class="btn btn-success" style="float: right; margin-right: 50px">Checkout</a>
          <% } %> -->
          <br>
          <br>
          <br>
          <br>
          <!-- <a class="btn btn-success" href="/simplecheckout">Checkout for <%= totalPrice %></a> -->
              <!-- <h4>Other Products</h4> -->
              <!-- <div style="width:100%;height:1px;margin:0px;padding:0px;background-color:#D5D5D5;overflow:hidden;"></div>
    <div class="row">
        <div class="col-md-3">
            <img src="./images/product-FSCT.jpg" width="153px" ,height="203px">
        </div>
        <div class="col-md-3">
            <img src="./images/product-FSCS.jpg" width="153px" ,height="203px">
        </div>
        <div class="col-md-3">
            <img src="./images/product-FSCT2.jpg" width="153px" ,height="203px">
        </div>
    </div> -->

              <!-- <div class="content">
        </div> -->
              <%- include('./partials/footer.ejs') %>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                  crossorigin="anonymous"></script>
                <script src="./lib/angular/angular.min.js"></script>
                <script src="./app/cart/cart.component.js"></script>
                <script src="./app/cart/cart.controller.js"></script>
                <script src="./app/_services/cart.service.js"></script>
  </body>

</html>