<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        <%=products[0].title%>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <style type="text/css">
        body {
            font-family: 'Alegreya Sans', sans-serif;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;
            border-left: 10px;
            border-right: 10px;
            padding-left: 80px;
            padding-right: 80px;
        }

        h4 {
            font-weight: bold;
        }

        a {
            align-self: center
        }

        table.order {
            width: 100%;
        }

        .div-ordersummary-tr-1 {
            font-weight: bold;
        }

        th {
            font-size: 20px;
            border-bottom: 1px solid black;
        }

        td {
            font-size: 15px;
        }

        .div-td-1 {
            width: 400px;
        }

        .div-td-2 {
            width: 300px;
        }

        .div-td-3 {
            width: 400px;
        }

        .div-td-4 {
            width: 100px;
        }

        .div-order-total {
            font-weight: bold;
            border-top: 1px solid black;

        }

        #massage {
            display: inline-block;
            width: 50%;
        }

        #massage2 {
            display: inline-block;
            width: 200%;
        }

        #massage3 {
            display: inline-block;
            width: 200%;
        }

        #massage4 {
            display: inline-block;
            width: 50%;
        }

        .navbar-bottom {
            min-height: 100px;
            margin-top: 100px;
            background-color: #00004f;
            padding-top: 25px;
            color: #FFFFFF;
            padding-right: 30px
        }

        .square {
            width: 100%;
            padding-bottom: 30%;
            float: left;
            margin: 1.66%;
        }

        /*
    #container {
        margin: 0px auto;
        max-width: 900px;
    }*/

        #myFooter {
            background-color: #0099CC;
            color: white;
            height: 30%;

        }

        #myFooter .footer-copyright {
            background-color: #428bca;
            padding-top: 3px;
            padding-bottom: 3px;
            text-align: center;
        }

        #myFooter .footer-copyright p {
            margin: 10px;
            color: #ccc;
        }

        #myFooter ul {
            list-style-type: none;
            padding-left: 0;
            line-height: 1.7;

        }

        #myFooter h5 {
            font-size: 18px;
            color: white;
            font-weight: bold;
            margin-top: 30px;
        }

        #myFooter a {
            color: #d2d1d1;
            text-decoration: none;
        }

        #myFooter a:hover,
        #myFooter a:focus {
            text-decoration: none;
            color: white;
        }

        #myFooter .myCols {
            text-align: center;
        }

        #myFooter .social-networks {
            text-align: center;


        }

        #myFooter .social-networks a {
            font-size: 32px;
            margin-right: 5px;
            margin-left: 5px;
            color: #f9f9f9;

            transition: 0.2s;
        }

        #myFooter .social-networks a:hover {
            text-decoration: none;

        }

        #myFooter .facebook:hover {
            color: #0077e2;
        }

        #myFooter .google:hover {
            color: #ef1a1a;
        }

        #myFooter .twitter:hover {
            color: #00aced;
        }

        @media screen and (max-width: 767px) {
            #myFooter {
                text-align: center;
            }
        }
    </style>

</head>

<%- include('./partials/header.ejs') %>

    <body>
        <!-- content -->
        <div class="container">
            <!-- body -->
            <div class="row container">
                <!-- Information -->
                <div class="col-8">
                    <h1>
                        <%= products[0].title %>
                    </h1>
                    <img src="../images/<%=products[0].series%>.jpg">
                    <div class="card">
                        <h5 class="card-title">Description</h5>
                        <p class="card-text">
                            <%= products[0].description %>
                        </p>
                    </div>
                    <div class="card">
                        <h5 class="card-title">Features</h5>
                        <p class="card-text">
                            <!-- Change to actual feature list -->
                            <%= products[0].description %>
                        </p>
                    </div>

                </div>
                <!-- payment -->
                <div class="col-4">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Price:
                                <%= products[0].pricing.retail %>
                            </h5>
                        </div>

                        <form action="/api/cart/add" method="post">
                            <!-- Quantity -->
                            <div class="form-group">
                                <label for="quantity">Quantity: </label>
                                <input type="number" class="form-control" id="quantity" name="qty">
                            </div>
                            <!-- Model -->
                            <div class="form-group">
                                <label for="sel1">Select list:</label>
                                <select class="form-control" id="model" name="model">
                                    <% products.forEach(function(product) { %>
                                    <option><%= product.model %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- specs table -->
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Series</th>
                            <th scope="col">Model #</th>
                            <th scope="col">Bag Quantity</th>
                            <th scope="col">Bag Size</th>
                            <th scope="col">Material</th>
                            <th scope="col">Max Pressure (PSI)</th>
                            <th scope="col">Connection Inlet/Outlet</th>
                            <th scope="col">Connection Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(function(product) { %>
                            <tr>
                                <th scope="col">
                                    <%=product.series%>
                                </th>
                                <th scope="col">
                                    <%=product.model%>
                                </th>
                                <th scope="col">
                                    <%=product.order_information.bag_quantity%>
                                </th>
                                <th scope="col">
                                    <%=product.order_information.bag_size%>
                                </th>
                                <th scope="col">
                                    <%=product.order_information.material%>
                                </th>
                                <th scope="col">
                                    <%=product.order_information.max_pressure_psi%>
                                </th>
                                <th scope="col">
                                    <%=product.order_information.connection%>
                                </th>
                                <th scope="col">
                                    <%=product.order_information.connection_type%>
                                </th>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>

    <%- include('./partials/footer.ejs') %>

</html>