<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shipping Details</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/navbar.css">
  <style>
    .StripeElement {
      background-color: white;
      height: 40px;
      padding: 10px 12px;
      border-radius: 4px;
      border: 1px solid transparent;
      box-shadow: 0 1px 3px 0 #e6ebf1;
      -webkit-transition: box-shadow 150ms ease;
      transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
      box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
      border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
      background-color: #fefde5 !important;
    }
  </style>
</head>

<%- include('./partials/header.ejs') %>

<body>
  <% if (message.danger) { %>
    <div class="alert alert-danger" role="alert">
      <%= message.danger %>
    </div>
  <% } %>
  <div class="pt-3 container">
    <h2 class="text-center">Shipping Details</h2>
    <!-- <p class="text-center mb-3"><%- message %></p> -->
    <div class="row">
      <div class="col-md-5">
        <h4 class="text-center">Cart Summary</h4>
        <table class="table table-striped">
          <thead style="border-bottom: 3px black solid;" class="table-secondary">
            <th scope="col">Item</th>
            <th class="text-center" scope="col">Quantity</th>
            <th class="text-center" scope="col">Price</th>
          </thead>
          <% cart.cartItems().forEach(function(item){ %>
            <tr>
              <td><%= item.item.title %></td>
              <td class="text-center"><%= item.quantity %></td>
              <td class="text-center">$<%= item.price %></td>
            </tr>
          <% }) %>
        </table>
        <table class="table table-sm">
          <tr style="border-top: 3px black double;" class="table-light">
            <td><strong>Cart Subtotal:</strong></td>
            <td class="text-right" colspan="2"><strong>$<%= cart.getPrice() %></strong></td>
          </tr>
          <tr class="table-light">
            <td><strong>Sales Tax:</strong></td>
            <td class="text-right" colspan="2"><strong>$<%= (cart.getPrice() * 0.0875).toFixed(2) %></strong></td>
          </tr>
          <tr class="table-light">
            <td><strong>Before Shipping:</strong></td>
            <td class="text-right" colspan="2"><strong>$<%= (cart.getPrice() * 1.0875).toFixed(2) %></strong></td>
          </tr>
        </table>
      </div>
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-7">
        <form action="/postShipping" method="post" id="shippingForm">
          <div class="my-3 form-row">
            <div class="col-6">
              <label for="first">First Name</label>
              <input type="text" name="first" id="first" placeholder="First Name" class="form-control" required>
            </div>
            <div class="col-6">
              <label for="last">Last Name</label>
              <input type="text" name="last" id="last" placeholder="Last Name" class="form-control" required>
            </div>
          </div>
          <div class="mt-3 form-row">
            <div class="col-5">
              <label for="address">Shipping Address</label>
              <input type="address" name="address" id="address" placeholder="111 Street Address" class="form-control" required>
            </div>
            <div class="col-3">
                <label for="city">City</label>
                <input type="text" name="city" id="city" placeholder="City" class="form-control" required>
            </div>
            <div class="col-2">
              <label for="state">State</label>
              <input type="text" name="state" id="state" placeholder="ST" class="form-control" required>
            </div>
            <div class="col-2">
              <label for="zip">Zip</label>
              <input type="number" name="zip" id="zip" min="11111" max="99999" maxlength="5" placeholder="11111" class="form-control" required>
            </div>
          </div>
          <div class="mt-4 mb-2 form-check">
            <input class="form-check-input" type="radio" name="shipping" id="shipping1" value=0.15 required checked>
            <label class="form-check-label" for="shipping1">Standard Shipping: <strong>$<%= (cart.getPrice() * 0.15).toFixed(2) %></strong></label>
            <p>With standard shipping, products will arrive in 10-12 business days</p>
          </div>
          <div class="my-2 form-check">
            <input class="form-check-input" type="radio" name="shipping" id="shipping2" value=0.25 required>
            <label class="form-check-label" for="shipping2">Expedited Shipping: <strong>$<%= (cart.getPrice() * 0.25).toFixed(2) %></strong></label>
            <p>With standard shipping, products will arrive in 5-7 business days</p>
          </div>
          <div class="my-2 form-check">
            <input class="form-check-input" type="radio" name="shipping" id="shipping3" value=0.35 required>
            <label class="form-check-label" for="shipping3">Priority Shipping: <strong>$<%= (cart.getPrice() * 0.35).toFixed(2) %></strong></label>
            <p>With standard shipping, products will arrive in 3-5 business days</p>
          </div>
          <button style="display: block; margin: 50px auto;" type="submit" class="mx-auto btn btn-primary">Proceed to Confirmation</button>
        </form>
      </div>  <!-- Close Checkout Col -->
    </div>  <!-- Close Row -->
  </div>  <!-- Close Container -->

  <script src="https://js.stripe.com/v3/"></script>
  <script src="/javascripts/guest_checkout.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="jquery-3.3.1.min.js"></script>

</body>

<%- include('./partials/footer.ejs') %>

</html>