<!DOCTYPE html>
<html>

<head>
  <title>Profile</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/navbar.css">
  <style type="text/css">
    .form-width{
      width:300px;
    }
  </style>

</head>

<%- include('../partials/header') %>
<%- include('../partials/user-navbar.ejs') %>

<body>
  <% if (message.success) { %>
    <div class="alert alert-success" role="alert">
      <%=message.success%>
    </div>
  <% } %>

  <div class="container mt-5 mb-3">
    <h1>My Account</h1>
  
    <p>Email Address: <%= user.email %> </p>
    
    <div class="row">
      <div class="col-md-12">
      <h3> Past Orders:</h3>
      <table class="table">
        <thead>
          <th scope="col">Name</th>
          <th scope="col">Order ID</th> 
          <th scope="col">Payment ID</th>
          <th scope="col">Order Total</th>
          <th scope="col">Date</th>
          <th scope="col">Reorder</th>
        </thead>
        <% orders.forEach(function(order) { %>
          <tr>
            <td><%= order.name %></td>
            <td><a href="/api/orders/review/<%= order._id %>"><%= order._id %></a></td>
            <td><%= order.paymentId %></td>
            <td>$<%= order.cart.total %>
            <td><%= order.date %></td>
            <td><a class="btn btn-primary" href="/api/orders/reorder/<%= order._id %>">Reorder</a></td>
          </tr>
        <% }) %>
      </table>
    </div>
  </div>
  <div class="mt-5 row">
    <div class="col-md-12">
      <% if (subscriptions.length !== 0) { %>
        <h3>Active Subscriptions:</h3>
        <table class="table">
          <thead>
            <th scope="col">Item</th>
            <th scope="col">Qty</th> 
            <th scope="col">Frequency</th>
            <th scope="col">Cancel Subscription</th>
          </thead>
          <% subscriptions.forEach(function(subscription) { %>
            <tr>
              <td><%= subscription.title %></td>
              <td><%= subscription.qty %></td>
              <td><%= subscription.freq %></td>
              <td><a href="#" class="btn btn-danger">Cancel</a></td>
            </tr>
          <% }) %>
        </table>
      <% } %>
    </div>
  </div>
</div>

</body>

<%- include('../partials/footer') %>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>